<section class="section-sm border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-bordered mb-1 d-flex align-items-center">
          <h1 class="h4">{{ userState.user()?.username?.toUpperCase() || "N/A" }}</h1>
          <ul class="list-inline social-icons ml-auto mr-3 d-none d-sm-block">
            <li class="list-inline-item">
              <a href="javascript:void(0)"><i class="ti-facebook"></i></a>
            </li>
            <li class="list-inline-item"> 
              <a href="javascript:void(0)"><i class="ti-twitter-alt"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="javascript:void(0)"><i class="ti-github"></i></a>
            </li>
          </ul>
          <button class="btn btn-primary" [routerLink]="['/user']">Dashboard</button>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4 mb-md-0 text-center text-md-left">
        <img loading="lazy" class="rounded-lg img-fluid" src="images/author.jpg" />
      </div>
      <div class="col-lg-9 col-md-8 content text-center text-md-left">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet vulputate augue.
          Duis auctor lacus id vehicula gravida. Nam suscipit vitae purus et laoreet. Donec nisi
          dolor, consequat vel pretium id, auctor in dui. Nam iaculis, neque ac ullamcorper. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet vulputate augue. Duis
          auctor lacus id vehicula gravida. Nam suscipit vitae purus et laoreet.
        </p>
        <p>
          Donec nisi dolor, consequat vel pretium id, auctor in dui. Nam iaculis, neque ac
          ullamcorper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet
          vulputate augue.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-sm">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="blogs && blogs.length > 0; else noBlogs">
        <div class="col-lg-4 col-sm-6 mb-4" *ngFor="let blog of blogs">
          <article class="mb-5">
            <div *ngIf="blogImages(blog).length > 1; else singleImage" class="post-slider slider-sm">
              <div class="carousel slide" [id]="'carousel-' + blog.id" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li *ngFor="let img of blogImages(blog); let i = index" 
                      [attr.data-target]="'#carousel-' + blog.id" 
                      [attr.data-slide-to]="i" 
                      [class.active]="i === 0">
                  </li>
                </ol>
    
                <div class="carousel-inner">
                  <div *ngFor="let img of blogImages(blog); let i = index" 
                       class="carousel-item" 
                       [class.active]="i === 0">
                    <img [src]="img" class="d-block w-100 img-fluid" alt="Blog Image" />
                  </div>
                </div>
    
                <a class="carousel-control-prev" [href]="'#carousel-' + blog.id" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" [href]="'#carousel-' + blog.id" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
    
            <ng-template #singleImage>
              <img [src]="blogImages(blog)[0]" class="d-block w-100 img-fluid mb-3" alt="Blog Image" />
            </ng-template>
    
            <h3 class="h5">
              <a class="post-title" [routerLink]="['/blog', blog.slug, blog.id]">{{ blog.title }}</a>
            </h3>
            <ul class="list-inline post-meta mb-2">
              <li class="list-inline-item">
                <i class="ti-user mr-2"></i><a href="javascript:void(0)">{{ userState.user()?.username || 'Author' }}</a>
              </li>
              <li class="list-inline-item">Date : {{ blog.createdAt | date:'mediumDate' }}</li>
              <li class="list-inline-item">
                Categories :
                <a href="javascript:void(0)" class="ml-1">{{ blog?.blogCategory?.categoryName }}</a>
              </li>
            </ul>
            <div class="content short-description" [innerHTML]="blog.shortDescription"></div>
            <a [routerLink]="['/blog', blog.slug, blog.id]" class="btn btn-outline-primary">Continue Reading</a>
          </article>
        </div>
      </ng-container>
    
      <ng-template #noBlogs>
        <div class="col-12">
          <div class="text-center py-5">
            <h5 class="mb-2">No blogs yet ✍️</h5>
            <p class="text-muted">
              Start sharing your thoughts and ideas with the world.
              Create your first blog now!
            </p>
            <button class="btn btn-primary mt-2" [routerLink]="['/user/blogs/create']">
              <i class="bx bx-plus"></i> Create Your First Blog
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    
  </div>
</section>
