<main>
  <div class="table-data">
    <div class="order">
      <div class="head d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Blog List</h3>

        <div class="d-flex align-items-center gap-2">
          <button class="btn btn-primary" [routerLink]="['/user/blogs/create']">
            <i class="bx bx-plus"></i> Create Blog
          </button>
        </div>
      </div>
      <hr />
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Slug</th>
            <th>Short Description</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of blogs">
            <td class="data-id">{{ blog.id }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.slug }}</td>
            <td>{{ blog.shortDescription }}</td>
            <td>
              <span class="status" [ngClass]="blog.status">{{
                blog.status.toUpperCase()
              }}</span>
            </td>
            <td>
              <div class="d-flex gap-2">

                <button
                  class="btn btn-sm mx-1 btn-outline-primary"
                  [routerLink]="['/blog', blog.slug, blog.id]"
                >
                  <i class="bx bx-show"></i>
                </button>

                <button
                  class="btn btn-sm btn-outline-primary"
                  [routerLink]="['/user/blogs/edit', blog.id]"
                >
                  <i class="bx bx-edit"></i>
                </button>

                <button class="btn btn-sm btn-outline-danger" (click)="deleteBlog(blog.id)">
                  <i class="bx bx-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <nav *ngIf="totalPages > 1" class="mt-5">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage - 1)">
              Prev
            </a>
          </li>

          <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage">
            <a class="page-link" href="javascript:void(0)" (click)="changePage(page)">
              {{ page }}
            </a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="changePage(currentPage + 1)">
              Next
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
