.pagination .page-link {
  border-radius: 6px;
  margin: 0 4px;
  color: #333;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s;
}

.pagination .page-item.active .page-link {
  background-color: #ce8460 !important;
  border-color: #ce8460 !important;
  color: #fff !important;
}

.pagination .page-item:not(.active):not(.disabled) .page-link:hover {
  background-color: #f1f1f1; 
  color: #333;
}

.pagination .page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
  background-color: #f9f9f9; 
  color: #ccc; 
}

.pagination .page-item:not(.disabled) .page-link {
  background-color: #fff;
  color: #333;
  border-color: #ddd;
}

.pagination .page-item:not(.disabled) .page-link:hover {
  background-color: #f1f1f1;
  color: #333;
}
