.pagination .page-link {
  border-radius: 6px;
  margin: 0 4px;
  color: #333;
}

.pagination .page-item.active .page-link {
  background-color: #ce8460;
  border-color: #ce8460;
  color: #fff;
}

.pagination .page-link:hover {
  background-color: #f1f1f1;
}

.post-slider img {
  object-fit: cover;
  border-radius: 8px; 
  width: 100%; 
  height: 50vh; 
}



